.analytics-box {
    border: 2px solid #ccc;
    border-radius: 1rem;
    width: 200px;
    text-align: center;
}

.analytics-item {
    text-align: center;
}

.blueBox {
    font-size: 40px;
    font-weight: bold;
    color: rgb(11, 132, 132);
    display: block;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.emailsms-container{
    padding: 10px;
}

.email-sms{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}